.interface{
    border-radius: 1px;
    border: 1px solid #000;
    background-image: url(paper.jpg);

    font-size: 21px;
    position: fixed;
    z-index: 99999;
    right: 10px;
    bottom: 10px;

}

h1 {
    text-align: center;
}

p{
    font-size: 25px;
}
li{
    font-size: 25px;
    font-style: italic;
}
.back{
    width: max-content;
    font-size: 21px;
    position: fixed;
    z-index: 99999;
    left: 10px;
    bottom: 10px;
    background-color: #fff;
}

/* @media screen and (orientation: portrait){
    h1{
        font-size: clamp(30px, 4vw, 50px);
    }
    *{
        font-size: calc(clamp(30px, 4vw, 50px)*1.5);
    }
} */