.interface{
    border-radius: 1px;
    border: 1px solid #000;
    background-image: url(paper.jpg);

    /* font-size: 21px; */
    position: fixed;
    z-index: 99999;
    right: 10px;
    bottom: 10px;

}

h1 {
    text-align: center;
}

li{
    font-style: italic;
}
.back{
    width: max-content;
    position: fixed;
    z-index: 99999;
    left: 10px;
    bottom: 10px;
    background-color: #fff;
}

.dark_illusion{
    animation-name: dark_illusion;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes dark_illusion {
    from{text-shadow: #000 0 0, #000 0 0, #000 0 0;}
    50%{text-shadow: rgba(0,0,0,0.5) 5px -4px, rgba(0,0,0,0.5) 3px 4px, rgba(0,0,0,0.5) -4.5px 3.5px;}
    to{text-shadow: #000 0 0, #000 0 0, #000 0 0;}
}

.material{
    animation-name: material;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    color: rgba(0,0,0,0);
}
@keyframes material {
    from{text-shadow: #000 0 0, #000 0 0, #000 0 0;}
    50%{text-shadow: #fc0 0 0 0px, #000 1px 1px, #000 1px -1px, #000 -1px 1px, #000 -1px -1px;}
    to{text-shadow: #000 0 0, #000 0 0, #000 0 0;}
}

.energial{
    animation-name: energial;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    color: rgba(0,0,0,0);
}
@keyframes energial {
    from{text-shadow: #000 0 0, #000 0 0, #000 0 0;}
    50%{text-shadow: #0cf 0 0 0px, #000 1px 1px, #000 1px -1px, #000 -1px 1px, #000 -1px -1px;}
    to{text-shadow: #000 0 0, #000 0 0, #000 0 0;}
}