body{
    animation: appear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes appear {
    from{
        background: #fff;
        opacity: 0;

    }
    to{
        background: #999;
        opacity: 1;
    }
}


main > h1{
    margin-top: 0;
    justify-self: center;
    text-align: center;
    font-size: 7vh;
    color: #ffd700;
    text-shadow: 5px 5px 10px #000,
    5px 5px  #000;
}


.book{
    width: max-content;
    height: max-content;
}

.book .cover{
    width: min(7.5vw, 100px);
    position: absolute;
}
.book .sheet{
    width: min(7.5vw, 100px);
}

.book_cont:hover a{
    filter: drop-shadow(#000 0.0vw 0.0vw 0.5vw);
}

.book:hover .sheet{
    filter: sepia(10000);
    animation-name: mvsheet;
    animation-duration: 0.25s;
    animation-timing-function: linear;
    z-index: -10;
    animation-fill-mode: forwards;
}

@keyframes mvsheet{ to{ transform: translateX(47%); } }

.book:hover .cover{
    animation: rotpage;
    animation-duration: 0.25s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    z-index: 2;
    transform-origin: left;
}

@keyframes rotpage {
    0%{ transform:
        perspective(600vw)
        translateX(0%) 
        rotateY(0deg); }
    50%{ transform:
        perspective(60vw)
        translateX(26.5%) 
        rotateY(-90deg);}
    100%{ transform: 
        perspective(60vw)
        translateX(53%)
        rotateY(-180deg);; 
        content: url("sheet.svg");
        filter: sepia(1); 
        }
}


.galer{
    display: grid;
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: repeat(4, calc (10vw + 10px) );
    justify-content: center;

}

.book_cont{
    display: flex;
    justify-content: center;
}

.book_cont .book::before{
    content:"";
    display: block;
    height: 0.2vw;
}


#book1 .book::before{
    content:"";
    display: block;
    height: 5vw;
}

#book2 .book::before{
    content:"";
    display: block;
    height: 3vw;
}

#book2 .cover, #book2 .sheet{
    width: calc( min(7.5vw, 100px) * 1.5);
}

#book1 .cover{
    filter: hue-rotate(150deg);
}#book6 .cover{
    filter: hue-rotate(561deg);
}#book7 .cover{
    filter: hue-rotate(789deg);
}#book4 .cover{
    filter: hue-rotate(1000deg);
}#book5 .cover{
    filter: hue-rotate(180deg);
}#book2 .cover{
    filter: hue-rotate(64deg) brightness(400%);
}


.book_cont p{
    margin: 0;
}

.book_cont a, .book_cont a:active, .book_cont a:hover{
    text-decoration: none;
    color: black;
}


/* @media screen and (min-width: 700px) {
    .book_cont p{
        font-size: x-large;
        color: red;
    }        
} */

@media screen and (orientation: portrait) {
    .galer{
        display: grid;
        grid-template-columns: repeat(2, 40vw);
    }
    main h1 {
        color: #f00;
        font-size: medium;
    }
}

@media screen and (orientation: landscape) {
    main h1 {
        color: #0f0;
    }
    #book1{
        grid-row-start: 1;
        grid-row-end: 3;
    }
    
    #book2{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 4;
    }
    
    #book7{
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 2;
        grid-column-end: 4;
    }
    
}
